$mainBackground:#24303a;


$chartBackground:#1e2730;
$mainText:cornflowerblue;
$subText: #4F5A65;

$secondary: #4F5A65;

@-webkit-keyframes pulse {
  50% {
    opacity: .45;
  }
}

@-moz-keyframes pulse {
  50% {
    opacity: .45;
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .45;
  }
}

@-moz-keyframes pulse {
  50% {
    opacity: .45;
  }
}
