@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Overpass");
@-webkit-keyframes pulse {
  50% {
    opacity: .45; } }

@-moz-keyframes pulse {
  50% {
    opacity: .45; } }

@-webkit-keyframes pulse {
  50% {
    opacity: .45; } }

@-moz-keyframes pulse {
  50% {
    opacity: .45; } }

body {
  background: #fff;
  font-family: 'Overpass', sans-serif !important;
  color: #4F5A65;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */ }

section {
  width: 80vw;
  margin: 0 auto; }

p {
  font-family: 'Overpass', sans-serif !important;
  color: #4F5A65; }

.github-fork-ribbon:after,
.github-fork-ribbon:before {
  background-color: #4F5A65; }

.App {
  margin: 25px; }

.App-header {
  text-align: center; }

.App-header h1 {
  font-family: 'Monoton', cursive !important;
  font-weight: 400 !important;
  font-size: 2.25em;
  color: cornflowerblue; }

.App-section h2 {
  color: cornflowerblue;
  text-decoration: underline; }

.Full-Demo {
  text-align: center; }

.Match-table {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  border-collapse: separate;
  border-spacing: 2px;
  margin: 0 auto;
  text-align: center;
  font-size: .8em; }
  .Match-table th {
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center; }
  .Match-table th:first-child {
    background-color: goldenrod;
    border: 2px solid #4F5A65; }
  .Match-table th:not(:first-child) {
    background-color: lightsteelblue; }
  .Match-table td:first-child {
    border: 2px solid #4F5A65; }
  .Match-table td {
    background-color: #eeeeee;
    color: #6f6f6f; }

.pref-eliminated {
  color: darkred;
  text-decoration: line-through; }

.icon-contain {
  padding: 3px;
  float: right; }

.icon-action {
  display: inline-block;
  font-weight: bold; }

.icon-no-action {
  color: lightgray; }

.icon-send-action {
  color: darkgoldenrod; }

.icon-progress-action {
  color: dodgerblue; }

.icon-success-action {
  color: darkgreen;
  animation: pulse 1s 2; }

.icon-failure-action {
  color: darkred; }

.icon-left-right {
  animation: pulse 1s infinite; }

.no-bold {
  font-weight: 400 !important; }
